a {
    text-decoration: none;
    color: blue;
}

.navBarre {
    text-align: center;
    font-size: 40px;
    position: sticky;
    top: 0px;
    width: 100%;
    /* border: 2px solid gray; */
}